<h1>Create New Lesson!</h1>

<form action="/lessons" method="post">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="lesson[name]" type="text">

  <label for="lesson_content">Content</label>
  <input id="lesson_content" name="lesson[content]" type="text">

  <label for="lesson_number">Lesson Number</label>
  <input id="lesson_number" name="lesson[number]" type="number">

  <button>Create</button>
</form>
