<h1>Create new lesson!</h1>

<form action="/lessons" method="post">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="lesson[name]" type="text">

  <label for="lesson_content">Content</label>
  <input id="lesson_content" name="lesson[content]" type="text">

  <button>Create</button>
</form>
