<h1><%= @lesson.name %></h1>

<h2>Content</h2>
<%= @lesson.content %>


<p><a href="/lessons/<%=@lesson.id%>"
  data-confirm="Are you sure?"
  data-method="delete" rel="nofollow">
  Delete Lesson</a>
</p>

