<% content_for(:title, "Create Section | Learn How To Program") %>
<% content_for(:heading, "Create New Section" ) %>

<div class="container">

<form action="/sections" method="post" role="form">
  <div class="form-group">
    <label for="section_name">Name</label>
    <input id="section_name" name="section[name]" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="section_number">Section Number</label>
    <input id="section_number" name="section[number]" type="number" class="form-control">
  </div>

  <button type="submit" class="btn btn-danger">Create</button>
</form>

</div>
