<h1>Create New Section!</h1>

<form action="/sections" method="post">
  <label for="section_name">Name</label>
  <input id="section_name" name="section[name]" type="text">

  <label for="section_number">Section Number</label>
  <input id="section_number" name="section[number]" type="number">

  <button>Create</button>
</form>
