<% content_for(:title, "Home | Learn How To Program") %>
<% content_for(:heading, "Learn How To Program" ) %>

<div class="container">
  <% @sections.all.each do |section| %>
    <h2><a href="/sections/<%=section.id%>"><%= section.name %></h2>
    <% if section.lessons.length > 0 %>
      <ul>
      <% section.lessons.each do |lesson| %>
        <li><a href="/lessons/<%=lesson.id%>"><%=lesson.name%></a></li>
      <% end %>
      </ul>
    <%else%>
      <h3>There are no lessons in this section yet.</h3>
    <%end%>
  <%end %>
</div>

